<div class="row">
  <div class="col-md-6">
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="h3">Account List</div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-account-list></app-account-list>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <app-total-balance></app-total-balance>
  </div>
</div>
