/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

div.validation-error{
  color: red;
  text-align: center;
}

button:hover,a.btn:hover{
  cursor: pointer;
}
