<table class="table table-striped">
  <tr *ngFor="let accountModel of accountModels">
    <td>{{accountModel.account.account_number}}</td>
    <td>{{accountModel.account.account_type}}</td>
    <td>{{accountModel.account.balance}}</td>
    <td>
      <button type="button"
              [ngClass]="{'btn btn-success': accountModel.canWithdraw, 'btn btn-light': !accountModel.canWithdraw}"
              (click)="onWithdraw(accountModel.account)"
              [disabled]="!accountModel.canWithdraw">Withdraw
      </button>
    </td>
  </tr>
</table>

<!--TODO: On a live environment may use the material table component instead -->
